.pagination {
  display: flex;
  font-size: 16px;
  color: var(--color-black);
}

.input {
  display: inline-flex;
  min-width: 26px;
  max-width: 40px;
  border: solid 1px #babdd8;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0px 2px;
  font-size: 16px;
  line-height: 22px;
  height: 22px;
  text-align: center;
}

.prevBtn,
.nextBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
}

.prevBtn:disabled,
.nextBtn:disabled {
  cursor: default;
  opacity: 0.5;
}

.total,
.prevBtn {
  margin-right: 12px;
}

.prevBtn svg,
.nextBtn svg {
  display: block;
}
