.form {
  padding-bottom: 50px;
  border-bottom: solid 1px #e1e1e1;
  margin-bottom: 30px;
}

.field {
  margin-bottom: 10px;
}

.submitBtn {
  min-width: 150px;
}

.inner,
.footer {
  max-width: 438px;
  margin: 0 auto;
}

.footer h6 {
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 5px 0;
}

.footer p {
  font-size: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .fields {
    display: flex;
    align-items: flex-end;
  }

  .inner {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .field {
    width: 80px;
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .field:first-child,
  .field:last-child {
    margin-right: 20px;
  }
}
