.form {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--color-white);
  min-height: 460px;
}

.inner,
.footer {
  max-width: 250px;
  margin: 0 auto;
}

.header {
  background-color: var(--color-primary);
  text-align: center;
  padding: 17px 20px 16px 20px;
  margin-bottom: 70px;
}

.title {
  font-size: 20px;
  font-weight: normal;
  line-height: 27px;
  margin: 0px;
  color: var(--color-white);
}

.inner {
  margin-bottom: 50px;
}

.row {
  margin-bottom: 15px;
}

.submitError {
  margin: 8px 0px 0px 0px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--color-error);
}
