.header {
  display: flex;
  justify-content: space-between;
  max-width: 1168px;
  padding: 22px 20px 0px 20px;
  margin: 0 auto 30px auto;
}

.logo {
  font-style: italic;
  font-weight: bold;
  font-size: 21px;
  line-height: 33px;
  margin: 0px;
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.logoLink.isActive {
  cursor: default;
  pointer-events: none;
}

.logoutBtn {
  background: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 20px;
  min-width: 130px;
  height: 30px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 42px;
    margin-bottom: 50px;
  }

  .logo { 
    font-size: 24px;
  }
}
