.header {
  background-color: #1a237e;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.title {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.inner {
  margin: 0 10px;
}
