.input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  appearance: none;
  user-select: none;
}

.label {
  display: block;
  font-size: 14px;
  line-height: 19px;
  margin: 0px 0px 4px 10px;
  cursor: pointer;
}

.hasError {
  border-color: var(--color-error);
}
