.table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--color-white);
}

.thead th {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--color-white);
  text-align: left;
  padding: 20px 5px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-primary);
}

.tbody tr {
  border-bottom: solid 1px #e1e1e1;
}

.tbody td {
  font-size: 14px;
  color: var(--color-black);
  padding: 10px;
}

.thead th:first-child,
.tbody td:first-child {
  padding-left: 10px;
}

.tbody tr:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {
  .thead th {
    font-size: 16px;
  }

  .tbody td {
    font-size: 20px;
    line-height: 27px;
  }

  .thead th:first-child,
  .tbody td:first-child {
    padding-left: 35px;
  }
}
