.page {
  padding: 0px 20px;
}

.inner {
  max-width: 1000px;
  min-height: 400px;
  background-color: #ffffff;
  margin: 0 auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
