.container {
  display: flex;
}

.box {
  width: 60px;
  height: 60px;
  margin: 20px;
  border: solid 1px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inverted {
  background-color: var(--color-primary);
  border: solid 1px var(--color-primary);
}
